/* 전체 페이지 스타일 */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #Ffffff;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Gong Gothic OTF Bold', sans-serif;
}

/* 제목 스타일 */
.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'GongGothic', Arial, sans-serif;
}

/* 검색 필드 스타일 */
.search-container {
    width: 100%;
    max-width: 338px;
    margin: 10px auto 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: #34c759;
}

/* 카드 컨테이너 스타일 */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}
