/* 타임라인 페이지 스타일 */
.timeline-page {
    width: 390px;
    min-height: 844px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: 'Freesentation-4Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* 헤더 스타일 */
.timeline-header {
    background-color: #4CAF50;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Freesentation-9Black', sans-serif;
    border-bottom: 2px solid #ddd;
}

/* 타임라인 목록 스타일 */
.timeline-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 338px;
}

/* 타임라인 아이템 스타일 */
.timeline-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s;
}

.timeline-item:hover {
    transform: scale(1.05);
    background-color: #e0f7fa;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.event-date {
    font-size: 14px;
    color: #555;
}

.person-header {
    width: 100%;
    background-color: #34c759;
    padding: 5px 0;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Freesentation-7Bold', sans-serif;
}
